@import "./config/reset";
@import "./config/varialbes";

@import "./layouts/header.scss";
@import "./layouts/footer.scss";

@import "./components/form.scss";
@import "./components/uploadFile.scss";
@import "./components/profile.scss";
@import "./components/videoScreen.scss";
@import "./components/watchScreen.scss";
@import "./components/videoControl.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 560px) {
  header {
    .search__form input {
      padding: 10px 0;
      font-size: 15px;
      &:placeholder {
        font-size: 15px;
      }
    }
    .header--icon {
      font-size: 40px;
    }
    .header--text {
      font-size: 10px;
    }
  }
  .videoScreen {
    align-items: flex-start;
  }
}

@media screen and (min-width: 561px) {
  header {
    .search__form input {
      padding: 10px 0;
      font-size: 30px;
      &:placeholder {
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .videoScreen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(350px, auto);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .videoScreen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(350px, auto);
  }
}

@media screen and (min-width: 1921px) and (max-width: 2580px) {
  .videoScreen {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(350px, auto);
  }
}
