.videoScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 90vw;
  min-height: 90vh;
  .videoScreen__column {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 3px solid black;
    .video--link {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .video--video {
        width: 90%;
        height: 90%;
        border-radius: 20px;
      }
      .videoScreen__videoInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        height: 90%;
        margin: 10px 0;
        padding: 10px 0;
        background-color: $headerBgColor;
        border-radius: 10px;
        .videoInfo--avatar,
        .videoInfo--owner {
          width: 10%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
          object-position: center;
        }
        .videoInfo--owner {
          text-align: center;
          background-color: white;
          text-transform: uppercase;
          padding: 10px;
        }
        .videoInfo--title {
          width: 70%;
          margin-left: 10px;
          color: white;
        }
        .videoInfo--views {
          color: white;
        }
      }
    }
  }
}
