.watchScreen {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 90vw;
  min-height: 90vh;
  flex-direction: column;
  .watchScreen__column:first-child {
    // border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    .watchScreen--video {
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50%;
      max-width: 1000px;
      max-height: 500px;
    }
    .watchScreen__watchInfo {
      padding: 10px 0;
      width: 100%;
      height: 50%;
      max-width: 1000px;
      max-height: 500px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .watchInfo__column {
        // border: 1px solid black;

        .watchInfo--title,
        small,
        a {
          font-size: 1.1em;
        }
        a {
          text-decoration: underline;
          transition: 0.3s;
          &:hover {
            background-color: $headerBgColor;
            color: white;
          }
        }
      }
    }
  }
}
