extends ./layouts/base

block content
  .joinScreen.formScreen
    form(method="POST")
      .formScreen__column 
      .formScreen__column
        input(type="text", name="email", placeholder="Email address", required)
        input(type="text", name="username", placeholder="Username", required)
        input(type="text", name="name", placeholder="Name", required)
        input(type="password", name="password", placeholder="Password", required)
        input(type="password", name="cpassword", placeholder="Confirmation Password", required)
        input(type="submit", value="가입")