extends ./layouts/base

block content
  .passwordScreen.formScreen
    form(method="POST")
      .formScreen__column
        input(type="password", name="opassword", placeholder="Old Password", required)
        input(type="password", name="npassword", placeholder="New Password", required)
        input(type="password", name="cpassword", placeholder="Confirmation New Password", required)
        input(type="submit", value="비밀번호 업데이트")