extends ./layouts/base
include ./mixins/videoList

block content
  form(method="POST" enctype="multipart/form-data")
    label(id="avatar") Avatar
    input(type="file" name="avatar" id="avatar" accept="image/*")
    input(type="text", name="email", placeholder="Email address", disabled, value=loggedInUser.email)
    input(type="text", name="username", placeholder="Username", value=loggedInUser.username)
    input(type="text", name="name", placeholder="Name", value=loggedInUser.name)
    input(type="submit", value="Update Profile")
  
  br 
  a(href="password") Change Password &rarr;
  hr
  each video in videos
    +videoList(video)
