extends ./layouts/base

block content
  form(method="POST")
    input(type="text", name="email", placeholder="Email address", disabled, value=loggedInUser.email)
    input(type="text", name="username", placeholder="Username", value=loggedInUser.username)
    input(type="text", name="name", placeholder="Name", value=loggedInUser.name)
    input(type="submit", value="Update Profile")
  
  hr 
  a(href="password") Change Password &rarr;