header 
  nav 
    ul 
      li 
        a(href="/") Home 

      if loggedIn 
        li
          a(href="/logout") Logout
      else
        li 
          a(href="/login") Login 
        li 
          a(href="/join") Join 