header 
  nav 
    ul 
      li 
        a(href="/") Home 

      if loggedIn 
        li 
          a(href="/videos/upload") Upload Video
        li 
          a(href="/users/profile") #{loggedInUser.username}
        li
          a(href="/logout") Logout
      else
        li 
          a(href="/login") Login 
        li 
          a(href="/join") Join 